@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_HeadPartial")
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/WriterDashboard/Index" class="brand-link">
                <img src="~/AdminLTE-3.0.4/dist/img/SVG.png"
                     alt="AdminLTE Logo"
                     class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Anasayfa</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
               

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                       
                           
                        <li class="nav-item">
                            <a href="/Title/Index/" class="nav-link">
                                <i class="nav-icon far fa-calendar-alt"></i>
                                <p>Başlık Listesi</p>
                            </a>
                        </li>
                      
                      
                        <li class="nav-item">
                            <a href="/Category/Index/" class="nav-link">
                                <i class="nav-icon far fa-calendar-alt"></i>

                                <p>Kategori Listesi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Comment/Index/" class="nav-link">
                                <i class="nav-icon far fa-calendar-alt"></i>
                                <p>Yeni Yorum Yaz</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/Comment/MyComments" class="nav-link">
                                <i class="nav-icon fas fa-comment"></i>
                                <p>Yorum Geçmişim</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Mail/SendMail" class="nav-link">
                                <i class="nav-icon fas fa-comment"></i>
                                <p>Mail Gönder</p>
                            </a>
                        </li>
                        
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
    </div>
    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>



