@model CommentProject.Models.MailViewModels.SendMailViewModel
@{
    ViewData["Title"] = "SendMail";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Mail Gönder</h1>
<br />
<form method="post" class="form-group">

    <label>Ad-Soyad</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <label>Gönderen</label>
    <input type="text" class="form-control" asp-for="SenderMail" />
    <br />
    <label>Alıcı</label>
    <input type="text" class="form-control" asp-for="ReceiverMail" />
    <br />
    <label>Konu</label>
    <input type="text" class="form-control" asp-for="Subject" />
    <br />
    <label>Mail İçeriği</label>
    @Html.TextAreaFor(x=>x.Body, new{ @class="form-control"})
    <br />
    <button class="btn btn-outline-info">Gönder</button>

</form>

